:root{
	--movie-padding-left-right: 18px;
	--movie-header-bg-color: #272D31;
	--movie-header-bg-color-opacity: rgba(39,45,49, .5);
	--movie-font-color: #0BBE06;
	--movie-font-color-opacity: rgba(11,190,6,0.8);
	--movie-header-font-color: #999999;
	--movie-bg: #1B2226;
	--nav-bg-color: #333E46;

	--movie-nav-font-color: rgba(204,204,204);

	--movie-img-width: 135px;
	--movie-img-height: 185px;
	--movie-list-p-color: rgba(204,204,204,1);
}