.nav{
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 55px;
	height: 100%;
	background-color: var(--nav-bg-color);
}

.nav-up, .nav-down{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-up span, .nav-down span{
	padding: 13.5px 0;
	cursor: pointer;
}

.nav-up span i:hover, .nav-down span i:hover,
.nav-up span i.active, .nav-down span i.active{
    color: var(--movie-font-color);
}

.nav-font-size{
	color: rgba(255,255,255,0.6);
	font-size: 1.4em !important;
}